@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*Definicion de variables y mixins*/
/*Definicion de clases o caracteristicas generales*/
a {
  text-decoration: none;
  color: #000000;
}
a:visited {
  text-decoration: none;
  color: #000000;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 400px 1fr auto;
  grid-template-areas: "my-nav my-nav my-nav" "my-header my-header my-header" "my-main my-main my-main" "my-footer my-footer my-footer";
}

main {
  grid-area: my-main;
}

.titulos-nosotros {
  justify-content: center;
  width: auto;
  height: 70px;
  gap: 20px;
}
.titulos-nosotros .h2-nosotros {
  font-size: 3.5rem;
  text-decoration: underline;
  margin: 0px;
}
.titulos-nosotros .h3-nosotros {
  font-size: 2rem;
  text-decoration: underline;
}
.titulos-nosotros .img-titulos {
  width: 50px;
  height: 50px;
}

.cont-flex {
  display: flex;
  flex-flow: row wrap;
}

.flex-columna {
  flex-flow: column wrap;
}

.justificado-centro {
  justify-content: center;
}

.justificado-space-around {
  justify-content: space-around;
}

.contenido-alineado-centro {
  align-content: center;
}

.contenido-alineado-space-around {
  align-content: space-around;
}

.items-alineado-space-around {
  align-items: space-around;
}

.items-alineado-centro {
  align-items: center;
}

.background-blanco {
  background-color: #fff;
  color: #000;
}

.background-negro {
  background-color: #000;
  color: #fff;
}

.background-degrade-blanco {
  background: linear-gradient(180deg, #000000 0%, #ffffff 50px);
  color: #000;
  padding: 70px 10px 10px 10px;
}

.background-degrade-negro {
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(0, 0, 0) 50px);
  color: #fff;
  padding: 70px 10px 10px 10px;
}

.ancho100 {
  width: 100%;
  height: auto;
}

.marginpadding0 {
  margin: 0px;
  padding: 0px;
}

.borde-blanco {
  border: 3px solid #ffffff;
}

.borde-negro {
  border: 3px solid #000000;
}

.botones {
  background-color: #343a40;
  padding: 10px;
  border-radius: 20px;
  color: #ffffff;
  font-size: 2.5rem;
  width: 100%;
  height: auto;
}

.gap20px {
  gap: 20px;
}

.texto-centrado {
  text-align: center;
}

.show {
  background-color: #343a40;
  justify-items: center;
}

nav {
  grid-area: my-nav;
  z-index: 1000;
}
nav .dropdown-menu {
  background-color: #343a40;
}
nav .dropdown-menu a {
  color: #fff;
}
nav .navbar-brand {
  margin: 0px;
}
nav .imagen-logo-nav {
  width: auto;
  height: 50px;
  margin-bottom: 10px;
}
nav .navbar-texto {
  font-size: 2em;
}
nav ul {
  list-style-type: none;
}
@media (min-width: 370px) and (max-width: 991px) {
  nav h1 {
    text-align: center;
  }
}
@media (min-width: 370px) and (max-width: 767px) {
  nav .navbar-texto {
    font-size: 2rem;
  }
}

.nav-inicio {
  position: fixed;
  width: 100%;
  height: 80px;
}

header {
  grid-area: my-header;
}
header .div-header {
  background-color: #343a40;
  background-image: url(../images/pattern-background.webp);
  background-image: url(../images/backgroun-header2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  height: 400px;
  border-bottom: 3px solid black;
}
header .div-header .img-header {
  width: 300px;
  height: auto;
}
header .div-header h1 {
  font-size: 100px;
}
@media (min-width: 370px) and (max-width: 991px) {
  header .div-header h1 {
    text-align: center;
  }
}
@media (min-width: 370px) and (max-width: 767px) {
  header .div-header .img-header {
    max-width: 50%;
  }
  header .div-header h1 {
    font-size: 5rem;
    text-align: center;
  }
}

/*Diseño Inicio o Index*/
.section-nosotros-inicio {
  padding: -- 0px 10px 20px;
}
.section-nosotros-inicio .cont-nosotros-inicio {
  padding-bottom: 10px;
}
.section-nosotros-inicio .div-cont-contacto-inicio {
  width: 48%;
  height: auto;
  align-self: center;
}
.section-nosotros-inicio .nosotros-inicio {
  font-size: 3.5rem;
  text-decoration: underline;
  margin-bottom: 20px;
}
.section-nosotros-inicio p {
  font-size: 1.5rem;
  text-align: justify;
  width: 70%;
  height: auto;
}
.section-nosotros-inicio .img-nosotros-inicio {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.section-nosotros-inicio .button-nosotros-inicio {
  width: auto;
  height: 4rem;
  font-size: 1.75rem;
}

.imagen-menu-inicio {
  width: 30%;
  height: auto;
  border-radius: 20px;
}

.cont-galeria-inicio {
  width: auto;
  height: 90%;
}

.img-galeria-inicio {
  width: 32%;
  height: auto;
  border-radius: 20px;
}

.section-presentacion-inicio {
  width: auto;
  height: 70vh;
}

.video-presentacion-inicio {
  width: 80vh;
  height: 40vh;
}

@media (min-width: 370px) and (max-width: 991px) {
  .section-nosotros-inicio {
    padding: -5px 5px 5px;
  }
  .section-nosotros-inicio div p {
    width: 90%;
    height: auto;
  }
  .section-menu-inicio {
    align-items: center;
  }
  .cont-mobile-inicio {
    gap: 20px;
    align-items: center;
  }
  .cont-botonmenu-inicio {
    width: 80%;
    height: auto;
  }
  section .titulos-nosotros .h2-nosotros {
    font-size: 3rem;
  }
}
@media (min-width: 370px) and (max-width: 767px) {
  .button-menu-inicio {
    font-size: 1.5rem;
  }
  .imagen-menu-inicio {
    width: 70%;
    height: auto;
  }
  .img-galeria-inicio {
    width: 90%;
    height: auto;
  }
  .video-presentacion-inicio {
    width: 40vh;
    height: 40vh;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .button-menu-inicio {
    font-size: 3rem;
  }
  .imagen-menu-inicio {
    width: 50%;
    height: auto;
  }
  .img-galeria-inicio {
    width: 50%;
    height: auto;
  }
}
/*Diseño de la página nosotros*/
.divnosotros-nosotros {
  width: 47%;
  height: auto;
}
.divnosotros-nosotros p {
  font-size: 2rem;
  text-align: justify;
  width: 90%;
  height: auto;
}

.img-nosotros-nosotros {
  border-radius: 20px;
}

.section-nosotros-reseñas .articulo-reseña {
  width: 30%;
  height: auto;
  padding: 10px;
  border-radius: 60px 0px 60px 0px;
}
.section-nosotros-reseñas .articulo-reseña h4 {
  font-size: 2rem;
  border-radius: 40px;
}
.section-nosotros-reseñas .articulo-reseña p {
  font-size: 1.2rem;
}
@media (min-width: 370px) and (max-width: 767px) {
  .section-nosotros-reseñas .articulo-reseña {
    width: 100%;
    height: auto;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .section-nosotros-reseñas .articulo-reseña {
    width: 70%;
    height: auto;
  }
  .section-nosotros-reseñas .reseñas-nosotros {
    align-items: center;
  }
}

.img-nosotros-premios {
  width: 20%;
  height: auto;
}

.div-ubicacion {
  width: 29%;
  height: auto;
}
.div-ubicacion img {
  width: 70px;
  height: 70px;
}
.div-ubicacion p {
  font-size: 2rem;
}

.section-nosotros-ubicacion .titulos-nosotros img {
  width: auto;
  height: 70px;
}

.div-iframe-ubicacion {
  width: 68%;
  height: 400px;
  padding: 15px;
  border-radius: 20px;
}

.div-tabla-horario {
  width: 80%;
  height: auto;
  max-width: 768px;
}
.div-tabla-horario table {
  width: 100%;
  height: auto;
}
.div-tabla-horario thead {
  background-color: #343a40;
  color: #fff;
}

.section-nosotros-patio .div-1-section-patio {
  width: 45%;
  height: auto;
  align-items: center;
}
.section-nosotros-patio .div-1-section-patio p {
  font-size: 2rem;
  width: 80%;
  height: auto;
  text-align: justify;
}
.section-nosotros-patio img:not(.img-titulos) {
  width: 90%;
  height: auto;
  border-radius: 20px;
}
.section-nosotros-patio .div-2-section-patio {
  width: 35%;
  height: auto;
}

@media (min-width: 370px) and (max-width: 991px) {
  .divnosotros-nosotros-texto {
    order: 2;
  }
  .img-nosotros-premios {
    width: 40%;
    height: auto;
  }
  .divnosotros-nosotros img {
    width: 80%;
    height: auto;
  }
  .section-nosotros-patio {
    gap: 20px;
  }
  .section-nosotros-patio .div-1-section-patio {
    gap: 20px;
  }
  .section-nosotros-patio .div-1-section-patio p {
    font-size: 2rem;
    width: 90%;
    height: auto;
  }
}
@media (min-width: 370px) and (max-width: 767px) {
  .section-nosotros-patio .h2-nosotros {
    font-size: 2.5rem;
  }
  .divnosotros-nosotros p {
    font-size: 1.5rem;
  }
  .section-nosotros-patio .div-1-section-patio p {
    font-size: 1.5rem;
  }
}
/*Diseño de la página de galeria*/
.section-galeria-galeria img:not(.img-titulos) {
  border: 3px solid #000000;
  border-radius: 40px;
}
.section-galeria-galeria .carousel {
  width: 90%;
  height: auto;
  max-width: 992px;
}
.section-galeria-galeria .carousel .carousel-caption {
  background-color: #ffffff;
  opacity: 0.8;
}

.section-galeria-bartender .galeria-bartender {
  max-width: 992px;
}
.section-galeria-bartender .galeria-bartender .galeria-iframe {
  border-radius: 15px;
}

/*Diseño de la página de Menú*/
.section-contacto-contacto {
  gap: 40px;
}

.div-contacto-img {
  width: 45%;
  height: auto;
  max-width: 500px;
}
.div-contacto-img img {
  border-radius: 20px;
  width: 100%;
  height: auto;
}

.div-contacto-formulario {
  width: 49%;
  height: auto;
  font-size: 2rem;
}
.div-contacto-formulario label {
  margin: 20px;
}
.div-contacto-formulario input {
  border-radius: 10px;
}
.div-contacto-formulario select {
  scale: 0.9;
}
.div-contacto-formulario .formulario-boton {
  padding: 10px;
  scale: 0.8;
}

.section-contacto-comunicacion {
  gap: 40px;
}
.section-contacto-comunicacion .cont-articulos-contacto-comunicate .article-contacto-comunicacion {
  width: 39%;
  height: auto;
  background-color: #343a40;
  padding: 10px;
  justify-content: center;
  border-radius: 50px;
  align-items: center;
}
.section-contacto-comunicacion .cont-articulos-contacto-comunicate .article-contacto-comunicacion h3 {
  font-size: 2rem;
}
.section-contacto-comunicacion .cont-articulos-contacto-comunicate .article-contacto-comunicacion p {
  font-size: 1.5rem;
  width: 80%;
  height: auto;
  text-align: center;
}
.section-contacto-comunicacion .cont-articulos-contacto-comunicate .article-contacto-comunicacion p a {
  color: #fff;
}
@media (min-width: 370px) and (max-width: 767px) {
  .section-contacto-comunicacion .cont-articulos-contacto-comunicate .article-contacto-comunicacion {
    width: 100%;
    height: auto;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .section-contacto-comunicacion .cont-articulos-contacto-comunicate .article-contacto-comunicacion {
    width: 70%;
    height: auto;
  }
}

.cont-articulos-contacto-redes .article-redes {
  width: 22%;
  height: auto;
  background-color: #343a40;
  padding: 20px;
  border-radius: 40px;
  font-size: 2rem;
}
.cont-articulos-contacto-redes .img-redes {
  width: 100%;
  height: auto;
  max-width: 120px;
}
.cont-articulos-contacto-redes .article-redes a {
  text-align: center;
  color: #fff;
}
@media (min-width: 370px) and (max-width: 767px) {
  .cont-articulos-contacto-redes .article-redes {
    width: 45%;
    height: auto;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cont-articulos-contacto-redes .article-redes {
    width: 45%;
    height: auto;
  }
}

@media (min-width: 370px) and (max-width: 991px) {
  .section-contacto-contacto {
    align-items: center;
  }
  .section-contacto-contacto div {
    justify-content: center;
  }
  .section-contacto-contacto .div-contacto-img {
    order: 2;
    justify-items: center;
  }
}
footer {
  grid-area: my-footer;
  padding: 40px 0px 10px 10px;
  font-size: 1.75rem;
}
footer .cont-copyright-footer {
  width: 30%;
  height: auto;
}
footer .cont-copyright-footer img {
  width: 70%;
  height: auto;
}
footer .cont-ubicacion-footer {
  width: 35%;
  height: auto;
}
footer .cont-redes-footer {
  width: 20%;
  height: auto;
}
footer .img-redes-footer {
  width: 30%;
  height: auto;
}
footer .copyright-footer {
  font-style: italic;
  line-height: 1.5;
}

@media (min-width: 370px) and (max-width: 991px) {
  .mobile-columna {
    flex-direction: column;
  }
  section .titulos-nosotros .h2-largos {
    font-size: 2.2rem;
  }
  .mobile-columna-reverse {
    flex-direction: column-reverse;
  }
  .mobile-ancho100 {
    width: 100% !important;
  }
  .mobile-padding100px {
    padding-top: 100px;
  }
  footer {
    font-size: 1rem;
    gap: 20px;
  }
  .cont-redes-footer {
    flex-flow: row;
  }
  .img-redes-footer {
    width: 60%;
    height: auto;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .img-redes-footer {
    width: 30%;
    height: auto;
  }
  footer {
    font-size: 1.5rem;
  }
}

/*# sourceMappingURL=styles.css.map */
