/*Diseño de la página de Menú*/
.section-contacto-contacto{
    gap: 40px; 
}
.div-contacto-img{
    @include tamaño(45%, auto);
    max-width: 500px;
    img{
        @include borde-redondeado(20px);
        @include tamaño(100%, auto);
    }
}
.div-contacto-formulario{
    @include tamaño(49%, auto);
    @include fuente(2rem);
    label{
        margin: 20px;
    }
    input{
        @include borde-redondeado(10px);
    }
    select{
        scale: 0.9;
    }
    .formulario-boton{
        padding: 10px;
        scale: 0.8;
    }
}
.section-contacto-comunicacion{
    gap: 40px;
    .cont-articulos-contacto-comunicate{
        .article-contacto-comunicacion{
            @include tamaño(39%, auto);
            background-color: $gris-principal;
            padding: 10px;
            justify-content: center;
            @include borde-redondeado(50px);
            align-items: center;
            h3{
                @include fuente(2rem);
            }
            p{
                @include fuente(1.5rem);
                @include tamaño(80%, auto);
                text-align: center;
                a{
                    color: #fff;
                }
            }
        }
        @media (min-width: 370px) and (max-width: 767px){
        .article-contacto-comunicacion{
            @include tamaño(100%, auto);
        }
        }
        @media (min-width: 768px) and (max-width: 991px){
        .article-contacto-comunicacion{
            @include tamaño(70%, auto);
        }
        }
    }
}
.cont-articulos-contacto-redes{
    .article-redes{
        @include tamaño(22%, auto);
        background-color: $gris-principal;
        padding: 20px;
        @include borde-redondeado(40px);
        @include fuente(2rem);
    }
    .img-redes{
        @include tamaño(100%, auto);
        max-width: 120px;
    }
    .article-redes a{
        text-align: center;
        color: #fff;
    }
    @media (min-width: 370px) and (max-width: 767px){
    .article-redes{
        @include tamaño(45%, auto);
    }
    }
    @media (min-width: 768px) and (max-width: 991px){
    .article-redes{
        @include tamaño(45%, auto);
    }
    }
}
@media (min-width: 370px) and (max-width: 991px){
.section-contacto-contacto{
    align-items: center;
    div{
        justify-content: center;
    }
    .div-contacto-img{
        order: 2;
        justify-items: center;
    }
}
}