/*Diseño Main o Index*/
.section-nosotros-inicio{
    padding: -- 0px 10px 20px;
    .cont-nosotros-inicio{
        padding-bottom: 10px;
    }
    .div-cont-contacto-inicio{
        @include tamaño(48%, auto);
        align-self: center;
    }
    .nosotros-inicio{
        @include fuente(3.5rem);
        text-decoration: underline;
        margin-bottom: 20px;
    }
    p{
        @include fuente(1.5rem);
        text-align: justify;
        @include tamaño(70%,auto);
    }
    .img-nosotros-inicio{
        @include tamaño(100%, auto);
        @include borde-redondeado(10px);
    }
    .button-nosotros-inicio{
        @include tamaño(auto, 4rem);
        @include fuente(1.75rem);
    }
}
.imagen-menu-inicio{
    @include tamaño(30%, auto);
    @include borde-redondeado(20px);
}
.cont-galeria-inicio{
    @include tamaño(auto, 90%);
}
.img-galeria-inicio{
    @include tamaño(32%, auto);
    @include borde-redondeado(20px);
}
.section-presentacion-inicio{
    @include tamaño(auto, 70vh);
}
.video-presentacion-inicio{
    @include tamaño(80vh, 40vh);
}
@media (min-width: 370px) and (max-width: 991px){
.section-nosotros-inicio{
    padding: - 5px 5px 5px;
}
.section-nosotros-inicio div p{
    @include tamaño(90%, auto);
}
.section-menu-inicio{
    align-items: center;
}
.cont-mobile-inicio{
    gap: 20px;
    align-items: center;
}
.cont-botonmenu-inicio{
    @include tamaño(80%, auto);
}
section .titulos-nosotros .h2-nosotros{
    @include fuente(3rem);
}
}
@media (min-width: 370px) and (max-width: 767px){
.button-menu-inicio{
    @include fuente(1.5rem);
}
.imagen-menu-inicio{
    @include tamaño(70%, auto);
}
.img-galeria-inicio{
    @include tamaño(90%, auto);
}
.video-presentacion-inicio{
    @include tamaño(40vh, 40vh);
}
}
@media (min-width: 768px) and (max-width: 991px){
.button-menu-inicio{
    @include fuente(3rem);
}
.imagen-menu-inicio{
    @include tamaño(50%, auto);
}
.img-galeria-inicio{
    @include tamaño(50%, auto);
}
}