nav{
    grid-area: my-nav;
    z-index: 1000;
    .dropdown-menu {
        background-color: $gris-principal;
        a{
            color: #fff;
        }
    }
    .navbar-brand{
        margin: 0px;
    }
    .imagen-logo-nav{
        @include tamaño(auto, 50px);
        margin: 0px 10px 10px 10px;
    }
    .navbar-texto{
        @include fuente(2em);
    }
    ul{
        list-style-type: none;
    }
    @media (min-width: 370px) and (max-width: 991px){
    h1{       
        text-align:  center;       
    }
    }
    @media (min-width: 370px) and (max-width: 767px){
    .navbar-texto{
        @include fuente(2rem);
    }    
    }     
}
.nav-inicio{
    position: fixed;
    @include tamaño(100%, 80px);
}
header{
    grid-area: my-header;
    .div-header{
        background-color: #343a40;
        background-image: url(../images/pattern-background.webp);
        background-image: url(../images/backgroun-header2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        @include tamaño(auto, 400px);
        border-bottom: 3px solid black;
        .img-header{
            @include tamaño(300px, auto);
        }
        h1{
            @include fuente(100px);
        }
        @media (min-width: 370px) and (max-width: 991px){
        h1{
            text-align:  center;
        }
        }
        @media (min-width: 370px) and (max-width: 767px){
        .img-header{
            max-width: 50%;
        }
        h1{
            @include fuente(5rem);
            text-align: center;
        }
        }           
    }
}
