/*Diseño de la página nosotros*/
.divnosotros-nosotros{
    @include tamaño(47%, auto);
    p{
        @include fuente(2rem);
        text-align: justify;
        @include tamaño(90%, auto);
    }
}
.img-nosotros-nosotros{
    @include borde-redondeado(20px);
}
.section-nosotros-reseñas{
    .articulo-reseña{
        @include tamaño(30%, auto);
        padding: 10px;
        @include borde-redondeado(60px 0px 60px 0px);
        h4{
            @include fuente(2rem);
            @include borde-redondeado(40px);
        }
        p{
            @include fuente(1.2rem);
        }
    }
    @media (min-width: 370px) and (max-width: 767px){
    .articulo-reseña{
        @include tamaño(100%, auto); 
    }
    }
    @media (min-width: 768px) and (max-width: 991px){
    .articulo-reseña{
        @include tamaño(70%, auto); 
    }
    .reseñas-nosotros{
        align-items: center;
    }
    }     
}
.img-nosotros-premios{
    @include tamaño(20%, auto);
}
.div-ubicacion{
    @include tamaño(29%, auto);
    img{
        @include tamaño(70px, 70px);
    }
    p{
        @include fuente(2rem);
    }
}
.section-nosotros-ubicacion .titulos-nosotros img{
    @include tamaño(auto, 70px);
}
.div-iframe-ubicacion{
    @include tamaño(68%, 400px);
    padding: 15px;
    @include borde-redondeado(20px);
}
.div-tabla-horario{
    @include tamaño(80%, auto);
    max-width: 768px;
    table{
        @include tamaño(100%, auto);
    }
    thead{
        background-color: $gris-principal;
        color: #fff;
    }
}
.section-nosotros-patio{
    .div-1-section-patio{
        @include tamaño(45%, auto);
        align-items: center;
        p{
            @include fuente(2rem);
            @include tamaño(80%, auto);
            text-align: justify;
        }
    }
    img:not(.img-titulos){
        @include tamaño(90%, auto);
        @include borde-redondeado(20px);
    }
    .div-2-section-patio{
        @include tamaño(35%, auto);
    }

}

@media (min-width: 370px) and (max-width: 991px){
.divnosotros-nosotros-texto{
    order: 2;
}
.img-nosotros-premios{
    @include tamaño(40%, auto);
}
.divnosotros-nosotros img{
    @include tamaño(80%, auto);
}
.section-nosotros-patio{
    gap: 20px;
    .div-1-section-patio{
        gap: 20px;
        p{
            @include fuente(2rem);
            @include tamaño(90%, auto);
        }
    }
}
}
@media (min-width: 370px) and (max-width: 767px){
.section-nosotros-patio .h2-nosotros{
    @include fuente(2.5rem);
}
.divnosotros-nosotros p{
    @include fuente(1.5rem);
}
.section-nosotros-patio .div-1-section-patio p{
    @include fuente(1.5rem);
}
}